<!DOCTYPE html>
<html lang="tr" dir="ltr">

<head>
  <title>Uyku Araştırmaları</title>
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" href="../styles/layout.css" type="text/css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
  <!-- [if lt IE 9]><script  src="{{url_for('static', filename='scripts/html5shiv.js')}}"></script><![endif] -->
</head>

<body>
  <div class="wrapper row1">
    <header id="header" class="clear">
      <div id="hgroup">
         <a href="{{ url_for('home') }}">
          <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo" /></a>
          
      </div>
      <nav>
        <ul>
          <li><a href="#">Uyku Evreleme</a></li>
          <li><a href="#">Uyku Hastalıkları</a></li>
          {% if current_user.is_authenticated %}
          <li>
            <a href="{{ url_for('profil') }}" class="navbar-item">
                Profil
            </a></li>
            {% endif %}
           {% if not current_user.is_authenticated %}
             <li> 
              <a href="{{ url_for('login') }}" class="navbar-item">
                  Giriş Yap
              </a></li> 
            <li>  <a href="{{ url_for('signup') }}" class="navbar-item">
             Kayıt Ol
          </a>
        </li>
        {% endif %}
      {% if current_user.is_authenticated %}
          <li>
  
          <a href="{{ url_for('logout') }}" class="navbar-item">
              Çıkış Yap
          </a>
         </li>
         {% endif %}
        </ul>
      </nav>
    </header>
  </div>
  <!-- content -->

  <!-- Footer -->
  <div class="wrapper row3">

    <!-- / Section -->
    {% block content %}
    {% endblock %}
  </div>

  <!-- Copyright -->
  <div class="wrapper row4">
    <footer id="copyright" class="clear">
      <p class="fl_left">Copyright &copy; Uyku Araştırmaları</a></p>

    </footer>
  </div>
</body>

</html>